<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363586898951-ad7cs8n2esbb2e5a9pecirpd4klil9n3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363586898951-ad7cs8n2esbb2e5a9pecirpd4klil9n3</string>
	<key>API_KEY</key>
	<string>AIzaSyAhHbRTq0DWKRFQTjQQyifxJ9Ub9gdl9xE</string>
	<key>GCM_SENDER_ID</key>
	<string>363586898951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes</string>
	<key>PROJECT_ID</key>
	<string>notes-application-4a75a</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-application-4a75a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363586898951:ios:366b1fc3a72bf244e26ea2</string>
</dict>
</plist>